* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.student {
    width: 350px;
    height: 150px;
    background-color: black;
    margin: 3px;
    float: left;
}

.container::after {
    content: '';
    display: table;
    clear: both;
}